/*Styles généraux */

html, body, #root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 900px;
}

.app-content {
  flex-grow: 1;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #FF6060;
  margin: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin: 0px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

.footer-text {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 12px;
  }
}